@font-face {
    font-family: 'Outfit Black';
    src: url('assets/fonts/outfit/static/Outfit-Black.ttf');
}

@font-face {
    font-family: 'Outfit Bold';
    src: url('assets/fonts/outfit/static/Outfit-Bold.ttf');
}

@font-face {
    font-family: 'Outfit ExtraBold';
    src: url('assets/fonts/outfit/static/Outfit-ExtraBold.ttf');
}

@font-face {
    font-family: 'Outfit ExtraLight';
    src: url('assets/fonts/outfit/static/Outfit-ExtraLight.ttf');
}

@font-face {
    font-family: 'Outfit Light';
    src: url('assets/fonts/outfit/static/Outfit-Light.ttf');
}

@font-face {
    font-family: 'Outfit Medium';
    src: url('assets/fonts/outfit/static/Outfit-Medium.ttf');
}

@font-face {
    font-family: 'Outfit Regular';
    src: url('assets/fonts/outfit/static/Outfit-Regular.ttf');
}

@font-face {
    font-family: 'Outfit SemiBold';
    src: url('assets/fonts/outfit/static/Outfit-SemiBold.ttf');
}

@font-face {
    font-family: 'Outfit Thin';
    src: url('assets/fonts/outfit/static/Outfit-Thin.ttf');
}

@font-face {
    font-family: 'Outfit';
    src: url('assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'YoungSerif';
    src: url('assets/fonts/young-serif/YoungSerif-Regular.ttf');
}

:root {
    --stone1: hsl(30, 54%, 90%);
    --stone2: hsl(30, 18%, 87%);
    --stone3: hsl(30, 10%, 34%);
    --stone4: hsl(24, 5%, 18%);
    --brown: hsl(14, 45%, 36%);
    --rose1: hsl(330, 100%, 98%);
    --rose2: hsl(332, 51%, 32%);
}

* {
    color: var(--stone3);
    font-family: 'Outfit';
}

body {
    background-color: var(--stone1);
}

main {
    display: flex;
    justify-content: center;
    margin-top: 15vh;
    margin-bottom: 15vh;
}

li {
    margin-bottom: 0.5rem;
    padding-left: 1.5rem;
}

li::marker {
    font-size: 0.8rem;
}

hr {
    width: 100%;
    border: 1px solid var(--stone2);
}

.recipe {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    max-width: 720px;
    padding: 2.5rem;
}

.recipe__img {
    border-radius: 10px;
}

.recipe__title {
    font-family: 'YoungSerif';
    font-weight: normal;
    font-size: 2.4rem;
    color: var(--stone4);
}

.recipe__description {
    font-family: 'Outfit Regular';
}

.recipe__preparation-time {
    background-color: var(--rose1);
    margin-top: 1.5rem;
    border-radius: 13px;
    padding: 1rem 1.7rem;
}

.recipe__preparation-title {
    font-family: 'Outfit';
    color: var(--rose2);
    font-size: 1.25rem;
}

.recipe__preparation-list {
    font-family: 'Outfit';
    padding-left: 1.5rem;
}

.recipe__preparation-list li::marker {
    color: var(--rose2);
}

.recipe__list-head {
    font-family: 'Outfit Bold';
}

.recipe__section-title {
    font-family: 'YoungSerif';
    font-weight: normal;
    color: var(--brown);
    font-size: 1.8rem;
}

.recipe__ingredients-list {
    font-family: 'Outfit';
    padding: 0 1.5rem;
}

.recipe__ingredients-list li::marker {
    color: var(--brown);
}

.recipe__instructions-list {
    font-family: 'Outfit';
    padding-left: 1.2rem;
}

.recipe__instructions-list li::marker {
    font-family: 'Outfit ExtraBold';
    color: var(--brown);
}

.recipe__nutrition-table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

.recipe__nutrition-table tr {
    border-bottom: 1px solid var(--stone2);
    line-height: 3em;
}

.recipe__nutrition-table th {
    font-weight: normal;
    padding-left: 2rem;
}

.recipe__nutrition-table td{
    color: var(--brown);
    font-weight: bold;
}

@media (max-width: 500px) {
    body {
        margin: 0;
    }

    main {
        margin: 0;
    }

    .recipe {
        min-width: 100vw;
    }

    .recipe__img {
        border-radius: 0;
        position: relative;
        left: -2rem;
        top: -2.5rem;
        min-width: 100vw;
        height: auto;
        margin-bottom: -3rem;
    }
}